.accountContainer {
	margin-top: 40px;
}

.accountContainer h1 {
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 38px;
	color: #18191f;
}

.hr {
	border-bottom: 1px solid #eaecf0;
	margin: 10px 5px;
}
.navLink {
	display: flex;
	align-items: center;
	gap: 20px;
	padding-top: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
}

.active {
	background: rgba(94, 96, 206, 0.12);
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding: 8px 12px;
	gap: 8px;
	color: var(--primary-color);
}
.navLink div:hover {
	color: var(--primary-color);
}
