.wrapper {
    width: 55px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #5E60CE;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 210px;
    top: 200px;
    z-index: 100;
}