:root {
    --primary-color:#5E60CE;
    --black-color:#495057;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
select:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}